.borda{
    display: block;
    border-width: 5px;
    border-style: solid;
    border-color: rgb(3, 196, 255);
}

/*Página Cases de sucessos*/

.principal {
    padding: 2em 0;
    background: #FFFFFF;
    margin: 0 auto;
}

.principal p {
    text-align: center;
    margin: 0 auto;     
}

.principal em {
    font-style: italic;
    font-weight: bold;
}

.titulo-quartenario {
    text-align: center;
    display: flow-root;
    font-size: 2em;
    margin: 0 0 1em;
    
}

.servicos {
    margin: 0 auto;
    padding: 50px 0;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-content: center;
    justify-content: center;
}

.servicos li {
    display: inline-block;
    text-align: center;
    vertical-align: top;
    margin: 0 1.5%;
    padding: 30px 20px;
    box-sizing: border-box;
    border: 1px solid #f2f2f2;
    border-radius: 10px;
    min-height: 348px;
    padding-bottom: 40px;
}

.servicos li:hover {
    border-color: #F0F8FF;
    
}

.servicos li:active {
    border-color: #87CEFA;
}

.servicos li:hover h2 {
    font-size: 25px;
}

.servicos h2 {
    font-size: 17px;
    font-weight: bold;
    padding-top: 15px;
}

.servicos-descricao {
    font-size: 15px;
    padding-top: 10px;
}



